#fast api
fastapi
uvicorn[standard]

#redis cache
redis

#mongoDB
motor[srv]
pymongo

#env
python-dotenv

#JWT + auth
passlib[bcrypt]
python-jose[cryptography]

#OAuth provider 검증용 HTTP client
httpx

#S3 (사진/동영상 미디어)
boto3
